@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #ffe7e7;
}
.bg-network {
  background: url(/images/backgroundPhoto3.png) top right no-repeat;
}
